{% load staticfiles %}
<html>
<head>
    <title>Dwem+</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
<nav class="navbar navbar-background">
    <div class="container text-center">
        <div class="navbar-header">
            <a class="text-xs-center navbar-brand" href="/">Dwem+</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'post_new' %}" class="nav-item "><span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a href="{% url 'logout' %}" class="nav-item ">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            {% else %}
                <li><a href="{% url 'signup' %}" class="nav-item "><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                <li><a href="{% url 'login' %}" class="nav-item "><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container text-center">
    <div class="row ">
            <div class="col-xs-12 col-md-3">
                {% block profile %}
                {% endblock %}
            </div>
        <div class="col-xs-12 col-md-9 text-left">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
