body{
    background: #F5F5F5 url("background.png") repeat right bottom;
}

.navbar-background{
    background-color: #B3E5FC;
    padding: 10px;
}

.custom-card{
    background-color: white;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
}

h1{
    font-family: "Myriad Pro", serif;
}

.mybutton{
    font-size: medium;
    width: auto;
    white-space: nowrap;
}